<div data-layouttoolbarsection rel="builder" class="toolbar-row float-right">
	<ul class="dropdown menu" data-dropdown-menu>
	    <li class="menu-text">Builder:</li>
	    <li><a class="button small" href="#load_layout" title="load layout"><i class="fa fa-folder-open"></i><span class="hide-for-small show-for-xxlarge"> load layout</span></a></li>
	    <li><a class="button small" href="#save_layout" title="save layout"><i class="fa fa-save"></i><span class="hide-for-small show-for-xxlarge"> save layout</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#show_source" title="show source"><i class="fa fa-code"></i><span class="hide-for-small show-for-xxlarge"> show source</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#switch_fullscreen" title="switch fullscreen"><i class="fa fa-tv"></i><span class="hide-for-small show-for-xxlarge"> switch fullscreen</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#edit_settings" title="edit settings"><i class="fa fa-cogs"></i><span class="hide-for-small show-for-xxlarge"> edit settings</span></a></li>
	</ul>
</div>