<div data-layouttoolbarsection rel="layoutcolumn" class="toolbar-column float-left">
	<ul class="dropdown menu" data-dropdown-menu>
	    <li class="menu-text">Column:</li>
	    <li><a class="button small" href="#add_row" title="add row"><i class="fa fa-plus"></i><span class="hide-for-small show-for-xxlarge"> add row</span></a></li>
	    <li><a class="button small" href="#remove_column" title="remove column"><i class="fa fa-minus"></i><span class="hide-for-small show-for-xxlarge"> remove column</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#edit_column" title="edit column"><i class="fa fa-cogs"></i><span class="hide-for-small show-for-xxlarge"> edit column</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#add_pattern" title="add pattern"><i class="fa fa-puzzle-piece"></i><span class="hide-for-small show-for-xxlarge"> add pattern</span></a></li>
	</ul>
</div>