<div data-layouttoolbarsection rel="layoutrow" class="toolbar-row float-left">
	<ul class="dropdown menu" data-dropdown-menu>
	    <li class="menu-text">Row:</li>
	    <li><a class="button small" href="#add_column" title="add column"><i class="fa fa-plus"></i><span class="hide-for-small show-for-xxlarge"> add column</span></a></li>
	    <li><a class="button small" href="#remove_row" title="remove row"><i class="fa fa-minus"></i><span class="hide-for-small show-for-xxlarge"> remove row</span></a></li>
	    <li class="menu-separator"><span>{{> layoutbuilder-toolbar-separator}}</span></li>
	    <li><a class="button small" href="#edit_row" title="edit row"><i class="fa fa-cogs"></i><span class="hide-for-small show-for-xxlarge"> edit row</span></a></li>
	</ul>
</div>