<div class="row panel-body">
    <div class="row columns large-12">
		<ul class="accordion" data-patternlibrary-accordion data-multi-expand="true" data-allow-all-closed="true" data-deep-link="true" data-update-history>
            {{#if patternlist}}
            	{{#each patternlist}}
				    <li class="accordion-item row columns" data-accordion-item>
				    	<!-- Accordion tab title {{../root}}/patterns/{{pattern.name}} -->
				    	<a href="{{patternlink pattern.name}}" class="accordion-title row columns">
					        <div class="columns medium-6 small-12">Name: <strong>{{pattern.name}}</strong> {{> "icon-pattern"}}</div>
					        <div class="columns medium-6 hide-for-small show-for-medium categories">Categories:
					        <strong>{{> "text-pattern-categories"}}</strong>
                            </div>
					    </a>
				 
					    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
					    <div class="accordion-content" data-tab-content>
					        {{> patterns-list-item}}
					    </div>
				    </li>
				{{/each}}
		    {{/if}}
            {{#unless no_demo}}
		    <li class="accordion-item row columns" data-accordion-item>
		    	<!-- Accordion tab title -->
		    	<a href="#" class="accordion-title row columns">
			        <div class="columns medium-6 small-12">Name: {type/pattern-name}</div>
			        <div class="columns medium-6 hide-for-small show-for-medium">Categories: {category-1}, {category-2}, ...</div>
			    </a>
		 
			    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			    <div class="accordion-content" data-tab-content>
			        {{> patterns-list-item}}
			    </div>
		    </li>
		    <li class="accordion-item row columns" data-accordion-item>
		    	<!-- Accordion tab title -->
		    	<a href="#" class="accordion-title row columns">
			        <div class="columns medium-6 small-12">Name: {type/pattern-name}</div>
			        <div class="columns medium-6 hide-for-small show-for-medium">Categories: {category-1}, {category-2}, ...</div>
			    </a>
		
			    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			    <div class="accordion-content" data-tab-content>
			        <p>Panel 2. Some markup here...</p>
			        <a href="#">Nowhere to Go</a>
			    </div>
		    </li>
		    <li class="accordion-item row columns" data-accordion-item>
		    	<!-- Accordion tab title -->
		    	<a href="#" class="accordion-title row columns">
			        <div class="columns medium-6 small-12">Name: {type/pattern-name}</div>
			        <div class="columns medium-6 hide-for-small show-for-medium">Categories: {category-1}, {category-2}, ...</div>
			    </a>
		
			    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			    <div class="accordion-content" data-tab-content>
			        <p>Panel 3. Some markup here...</p>
			        <a href="#">Nowhere to Go</a>
			    </div>
		    </li>
		    <!-- ... -->
		    {{/unless}}
		    
		</ul>
    </div>
</div>