<ul class="dropdown menu" data-dropdown-menu>
    <li class="menu-text hide-for-small show-for-medium">{{> text-project-title}}</li>
    <li><a href="{{root}}/patterns"><i class="fa fa-puzzle-piece"></i> Patterns</a></li>
    <li><a href="/pages"><i class="fa fa-photo"></i> Pages</a></li>
    <li><a href="{{root}}/builder"><i class="fa fa-magic"></i> Builder</a></li>
    <li>
        <a href="{{root}}/help"><i class="fa fa-question"></i> Help</a> 
        <ul class="menu">
        	<li><a href="{{root}}/help/docs">Docs</a></li>
        	<li><a href="{{root}}/help/about.html">About</a></li>
        </ul>
    </li>
</ul>