<div data-layoutrow class="row">
        <div data-layoutcolumn class="col-xs-12 small-12">
        </div>
        
</div>
    
<div data-layoutrow class="row">
    
        <div data-layoutcolumn class="col-xs-12 small-12 col-l-3 large-3 col-m-3 medium-3">
        </div>
        <div data-layoutcolumn class="col-xs-12 small-12 col-l-7 large-7 col-m-9 medium-9">
        
			<div data-layoutrow class="row">
			        <div data-layoutcolumn class="col-xs-12 small-12">
			        </div>
			        
			</div>

        
			<div data-layoutrow class="row">
			        <div data-layoutcolumn class="col-xs-6 small-6">
			        </div>
			        <div data-layoutcolumn class="col-xs-6 small-6">
			        </div>
			        
			</div>

        
			<div data-layoutrow class="row">
			        <div data-layoutcolumn class="col-xs-12 small-12">
			        </div>
			        
			</div>

        </div>
        
        <div data-layoutcolumn class="col-xs-12 small-12 col-l-2 large-2">
        </div>
    
</div>

<div data-layoutrow class="row">
        <div data-layoutcolumn class="col-xs-12 small-12 col-m-6 medium-6">
        </div>
        <div data-layoutcolumn class="col-xs-12 small-12 col-m-6 medium-6">
        </div>
        
</div>
