<!-- Footer -->
<footer id="footer" class="row columns">
	<div class="small-12 medium-6 column text-left">
		<span class="patterns"  ><a href="{{baseroot}}">Patterns</a></span>
		<span class="typography">| <a href="{{baseroot}}pages/typography.html">Typography</a></span>
		<span class="plfoundation">| <a href="{{baseroot}}pages/kitchensink.html">Kitchen Sink</a></span>
		<span class="styleguide">| <a href="{{baseroot}}pages/styleguide.html">Styleguide</a></span>
		<span class="plfoundation">| <a href="{{baseroot}}pages/htmlelements.html">Elements</a></span>
	</div>
	<div class="small-12 medium-6 column text-right">
		<span class="copyright" >{{> text-project-title}}</a></span>
		<span class="copyright" >| &copy; <a href="{{project.author.url}}" target="_blank">{{project.author.name}}</a></span>
	</div>
</footer>