
<!-- Footer -->
	<footer id="footer" class="row columns">
		<div class="small-12 medium-6 column text-left">
			<span class="patterns"  ><a href="/">Patterns</a>
			<span class="typography">| <a href="/typography.html">Typography</a>
			<span class="foundation">| <a href="/kitchensink.html">Kitchen Sink</a>
			<span class="styleguide">| <a href="/styleguide.html">Styleguide</a>
			<span class="foundation">| <a href="/foundation.html">Demo</a>
		</div>
		<div class="small-12 medium-6 column text-right">
			<span class="copyright" >{{> text-project-title}}</a>
			<span class="copyright" >| &copy; <a href="{{project.author.url}}" target="_blank">{{project.author.name}}</a>
		</div>
	</footer>