
<!-- Footer -->
	<footer id="footer" class="row columns">
		<div class="small-12 medium-6 column text-left">
			<span class="patterns"  ><a href="{{root}}/pl/patterns/">Patterns</a>
			<span class="typography">| <a href="{{root}}/typography.html">Typography</a>
			<span class="plfoundation">| <a href="{{root}}/kitchensink.html">Kitchen Sink</a>
			<span class="styleguide">| <a href="{{root}}/styleguide.html">Styleguide</a>
			<span class="plfoundation">| <a href="{{root}}/plfoundation.html">Demo</a>
		</div>
		<div class="small-12 medium-6 column text-right">
			<span class="copyright" >{{> text-project-title}}</a>
			<span class="copyright" >| &copy; <a href="{{project.author.url}}" target="_blank">{{project.author.name}}</a>
		</div>
	</footer>