<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setCookieDomain", "*.demo.patternlibrary.bjoernbartels.earth"]);
  _paq.push(["setDomains", ["*.demo.patternlibrary.bjoernbartels.earth","*.demo.patternlibrary.net","*.demo.patternlibrary.org"]]);
  _paq.push(["enableCrossDomainLinking"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.bjoernbartels.earth/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '7']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.bjoernbartels.earth/piwik/piwik.php?idsite=7&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
